# Compiled Object files, templates, shared libraries
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.exe
*.out
*.app

# Executables
/benchmark_indexes
/build/
/bin/

# Dataset and Indexes (Exclude data folder content except README.md)
/data/*
!/data/README.md

# LaTeX temporary files
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
*.run.xml
*.bcf

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
